body {
  background-color: #1a2c38;
  font-family: Poppins;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #2f4553;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #242f3d;
  border: 2px solid #242f3d;
  border-radius: 10px;
}